<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <%- include("partials/errors.ejs") %>
        <section class="cards-games">
            <% games.forEach((game) => { %>
                <div class="game">
                    <img src="<%= game.photo %>" alt="image game">
                    <div class="game-informations">
                        <div> Name: <%= game.name %> </div>
                        <div> Genre: <%= game.genres %> </div>
                        <div> Developers: <%= game.developer_names %> </div>
                    </div>
            
                    <div class="option-game">
                        <a href="/updateGame/<%= game.id %>"><button class="modify button-style1" type="button">Modify</button></a>
                        <button onclick="openDialog(event)" class="delete button-style1" data-id-game="<%= game.id %>" type="button">Delete</button>
                    </div>
                </div>

                <dialog id="dialog" data-idGame="<%= game.id %>">
                    <form method="POST" action="/delete/<%= game.id %>" id="<%= game.id %>">
                        <div class="input-div">
                            <label for="password">Password:</label>
                            <input name="password" type="password">
                        </div>
                        <div class="submit-modify-div">
                            <button class="submit button-style1" type="submit">Submit</button>
                            <button onclick="closeDialog(event)" class="modify button-style1" data-id-game="<%= game.id %>" type="button">Cancel</button>
                        </div>
                    </form>
                </dialog>
            <% }) %>
        </section>
    </main>
</body>
</html>