<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <section class="cards-games">
            <% games.forEach((game) => { %>
                <div class="game">
                    <img src="<%= game.photo %>" alt="image game">
                    <div class="game-informations">
                        <div> Name: <%= game.name %> </div>
                        <div> Genre: <%= game.genres %> </div>
                        <div> Developers: <%= game.developer_names %> </div>
                    </div>
            
                    <div class="option-game">
                        <a href="/updateGame/<%= game.id %>"><button class="modify" type="button">Modify</button></a>
                        <form method="POST" action="/delete-game/<%= game.id %>">
                            <button class="delete" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>
</body>
</html>