<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= game.name %></title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="main-add-update-game">
        <%- include("partials/errors.ejs") %>
        <form class="form-add-update-game" method="POST" action="/updateGame/<%= game.id %>">
            <div class="input-div">
                <label for="id">Id:</label>
                <input name="id" id="id" type="text" value="<%= game.id %>" readonly>
            </div>
            <div class="input-div">
                <label for="name">Name:</label>
                <input name="name" id="name" type="text" value="<%= game.name %>">
            </div>
            <div class="input-div">
                <label for="genres">Genre:</label>
                <select id="genres" name="genres[]" multiple>
                    <% genres.forEach((genre) => { %>
                        <option value="<%= genre.name %>" <%= game.genres.includes(genre.name) ? "selected" : "" %>><%= genre.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="input-div">
                <label for="developers">Developers:</label>
                <input name="developers" id="developers" type="text" value="<%= game.developer_names %>">
            </div>
            <div class="input-div">
                <label for="photo">Picture:</label>
                <input name="photo" id="photo" type="text" value="<%= game.photo %>">
            </div>
            <div>
                <button class="submit" type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>

